/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* @media all and (max-width: 450px){ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
 dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~TEXT AND BOX AND BORDER SHANDOWS
  ========================================
*/

  *{box-sizing: border-box;}  
  /* * { outline: 1px red solid !important; visibility: visible !important } */ 
  svg {display: none;}
  .tablet {display: none;}
  .desktop{display: none;}
  


  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  body {
    font-family: "Fredericka the Great", serif;
    letter-spacing: 0.1rem;
    width: 90vw;
    box-sizing: border-box;
    background-image: url("/assets/images/polish-eagle-edit.jpeg");
    background-size: 1rem;
    background-color: #900000;
    background-position: top;
    color: rgba(255, 255, 255, 0.905);
    
    border-width: 0.4rem;
    border-style: solid;
    border-image-source: url(/assets/images/wood1H.jpg);
    border-image-slice: 40% 10%;
    border-image-repeat: stretch;

    
    display: grid;
    justify-self: center;
    margin: 3vw;
  }
  /*header~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

  .header{
    font-family: "Fredericka the Great", serif;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    padding-bottom: 0.1rem;
  }

  h1.header {
    text-align: center;
    padding-top: 3vw;
    align-self: center;
    font-size: 2rem;
    border-bottom: 0.75rem ;
    /*make small chalkboard background for welcome text*/

  }

  h1.mobile.header {
    text-transform: uppercase;
  }

  p.header{
    padding: 0 1rem 1rem 1rem;
    font-size: 0.75rem;
    text-align: center;
    align-self: center;
    flex-wrap: wrap;
  }

  .header.shorty-header{
    font-size: 4rem;
  }

  .header-bagels{
  width: 100%;
  }

  /*nav~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  .nav{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }

  
  nav>ul{
    width : 100%;
    display: flex;
    flex-flow: row nowrap;
    
    justify-content: space-around;
  }
  img.btn.nav{
    width: 10vw;
    padding: 0.2rem 0.5rem 0.2rem 0;

  }
  li.nav.btn {
    width: 100%;
    letter-spacing: normal;
    font-size: 1.2rem;
    font-family: "Fredericka the Great", serif;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    border-width: 0 0 0.3rem 0;
    border-style: solid;
    border-image-source: url(/assets/images/wood2H.jpg);
    border-image-slice: 0 0 50% 0;
    border-image-repeat: stretch;

  }

  li.nav.menu {
    border-width: 0.3rem  0 0.3rem 0;
    border-style: solid;
    border-image-source: url(/assets/images/wood3H.jpg);
    border-image-slice: 50% 0 50% 0;
    border-image-repeat: stretch;
  }

  li.nav.soup {
    border-width: 0 0 0.3rem 0;
    border-style: solid;
    border-image-source: url(/assets/images/wood5H.jpg);
    border-image-slice: 0 0 50% 0;
    border-image-repeat: stretch;
  }

  li.nav.story {
    border-width: 0 0 0.3rem 0;
    border-style: solid;
    border-image-source: url(/assets/images/wood1H.jpg);
    border-image-slice: 0 0 50% 0;
    border-image-repeat: stretch;
  }

  /*footer~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/



  footer{
    display: flex;
    flex-direction: column;
    
    
  }
  ul.footer{
    font-size: .8rem;
    list-style-type: none;
    padding-bottom:.2rem
  }

  .times{
    padding: 1rem;
    /* float: left; */
    }
    
  h2.footer{
    align-self: center;
    padding: 1rem 0 0 1rem;
    font-size: 1.3rem;
    }

  /*mains~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  
  section.main{
    background: radial-gradient(circle, rgba(218,165,32,1) 20%, rgba(227,139,8,1) 100%);
    display: flex;              
    flex-direction: column;
    border-width: 0 0 0.4rem 0;
    border-style: solid;
    border-image-source: url(/assets/images/wood1H.jpg);
    border-image-slice: 0 0 50% 0;
    border-image-repeat: stretch;
  }

  .chalkboard{
    background: url(/assets/images/chalkboard-background.jpg);
    background-size: 100% 100%;
  }

  /*our story~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

  img.chips{
    width: 8rem;
    float: right;
  }
  /*menu~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


  nav.menu-nav>ul{

    padding-top: 2vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }

    nav.menu-nav>ul>h3{
    text-align: center;
    font-size: 1.2rem;

  }
  nav>ul>h3{
    border-bottom: 1vw double darkgoldenrod;
    text-transform: capitalize;
  }
  h3.menu-nav-btn{
    width: 100%;
    text-align: center;
    border-bottom: 1vw double #55342bb5;
    padding-top: 2vw;
    align-self: center;
  }

  div.menus{
    padding-right: 2vw;
    padding-top: 2vw;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  ul.menu-section{
    padding-right: 2vw;
    padding-top: 2vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }


  li.menu-item {
    padding: 2vw 2vw 2vw 0;
    padding-right: 2vw;
    padding-top: 2vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  h3.menu-item-title+img{
    float: right;
    padding-right: 2vw;
    width: 40vw;
    height: 40vw;
  }
  p.menu-item-desc>img{
    float: right;
    padding-right: 2vw;
    width: 40vw;
    height: 40vw;
  }

  p.menu-item-desc{
    display: flex;
    padding-right: 2vw;
  }




@media screen and (min-width: 450px){
  *{box-sizing: border-box;}  
  /* * { outline: 1px red solid !important; visibility: visible !important } */
  svg{display: none;}
  img{width: 10vw;}


  body {
    background-size: 2rem;
    width: 90vw;
  }

  header{
    /* add a picture or sometimg to fill the clakboard */
  }

footer{

}

ul.nav{
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */

}

ul.nav{
  border-width: 0.3rem  0 0.3rem 0;
  border-style: solid;
  border-image-source: url(/assets/images/wood3H.jpg);
  border-image-slice: 50% 0 50% 0;
  border-image-repeat: stretch;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

li.btn.nav{
  border: none;
  display: flex;
  flex-direction: column;
}
/*
nav.menu-nav{
  width: 50%;
}
iframe{
  border: 5px solid red;
  margin-left: 100px;
}

 make the main section a grid and try to place the fbg nice and front and bright, border if i can fig7ure out */








} 
